<!DOCTYPE html>
<html lang="en">
	<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        {% block meta %}
        {% endblock %}

        {% block title %}
        {% endblock %}
    </head>
    
    <body>
        <div>
            {% if user.islogin() == true %}
                <button onclick="window.location.href='/login?page=logout'">Logout</button>
            {% else %}
                <button onclick="window.location.href='/login'">Login</button>
            {% endif %}
            {% block content %}
            {% endblock %}   
        </div>
     

    </body>
    
    <!-- JS Files -->
    {% block scripts %}
    {% endblock %}
	
</html>