<!DOCTYPE html>
<html lang="en">
	<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        {% block meta %}
        {% endblock %}
        {% block title %}
        {% endblock %}
        <!--stylesheet-->
		<link rel="stylesheet" href="/static/css/index_layout.css">
		{% block css %}
		{% endblock %}
    </head>
    
    <body>
        <div class="main_container">
            <div id="User">
                {% if user.islogin() == true %}
                    <p id="text_loginout">Welcome back <a id="profile" href="/myprofile"><b>{{user.getusername()}}</b></a> &nbsp;&nbsp;
					<a class="btn_cblog" href="/editblog">New Post</a>&nbsp;&nbsp;
                    <a class="btn_loginout" href="/login?page=logout">Logout</a></p>
                {% else %}
                    <p id="text_loginout">Hi, Guest&nbsp;&nbsp;  
                    <a class="btn_loginout" href="/login">Login</a></p>
                {% endif %}
            </div>

			<nav id="topnav">
				<a class="btn_nav" href="/home">Home</a>
				<a class="btn_nav" href="/blog">Blog</a>
				<a class="btn_nav" href="/about">About</a>
			</nav>
       		{% block content %}
            {% endblock %}   
        </div>
    </body>
    
    <!-- JS Files -->
    {% block js %}
    {% endblock %}
	
</html>