<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Welcome</title>
    
    <!-- Strylesheets -->
    <link rel="stylesheet" href="/static/css/welcome_page.css">
    <link rel="stylesheet" href="/static/css/elements.css">
</head>
<body>
    <h1>Welcome</h1>
    <button id="Enter" onclick="window.location.href='/home'">Enter</button>

    <button id="Login" onclick="window.location.href='/login'">Login</button>
</body>